
# /Procfile
# /requirements.txt
# /stuff/config.json
# /stuff/credentials.json

/__pycache__/
/funtions/__pycache__/
/language/__pycache__/
/modueles/__pycache__/

# /stuff/
/env/
/venv/
/logs/
/.idea/
/.vscode/