
/TOKEN
/Procfile
/requirements.txt
/invests.json
/modueles/credentials.json
/modueles/spreadsheetid

/funtions/__pycache__/
/functions/info

/language/__pycache__/

/modueles/__pycache__/

/stuff/
/logs/
/.idea/

/venv/
